.container {
  display: flex;
  column-gap: 20px;
  border: 2px solid #aaa7a7;
  border-radius: 10px;
  padding: 30px 10px;
}

.imgWrapper {
  width: 200px;
  height: 150px;
}

.itemImg {
  object-fit: cover;
}

.itemContent {
  width: 450px;
  padding-top: 20px;
}

.productTitle {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.quantityBlock {
  display: flex;
  justify-content: center;
}


.quantity {
  position: relative;
  user-select: none;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  border: 2px solid black;
  border-radius: 10px;
}

.changeBlock {
  position: absolute;
  top: 0;
  right: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  z-index: 10;
}
